@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@font-face {
  font-family: 'AkiraFont';
  src: url('/fonts/akira-expanded.otf') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark-blue-bg: #00162B;
  --clr-orange-accent: #FB8500;
  --clr-gray-text: #F9F8F8;
  --clr-dark-text: #1E1E1E;
  --clr-gray-heading: #EAEAEA;
  --clr-gray-card-bg: #C0D6DF;
  --clr-dark-btn-text: #00162B;
  --clr-dark-blue-navbar-text: #023047;
  --clr-light-blue-img-border: #8ECAE6;
  --clr-gold-card: #FFB703;
  --clr-blue-card: #219EBC;
  --ff-oswald: 'Oswald', sans-serif;
  --ff-akira: 'AkiraFont', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --home-title-fs: 11rem;
  --home-title-lh: 90%;
  --heading-fs: 6.4rem;
  --heading-lh: 110%;
  --subheading-fs: 3.2rem;
  --body-fs-18px: 1.8rem;
  --body-fs-20px: 2.0rem;
  --body-fs-24px: 2.4rem;
  --body-fs-32px: 3.2rem;
  --body-fs-40px: 4.0rem;
  --body-fs-48px: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* background: linear-gradient(161deg, #1C1140 12.73%, #003F7A 72.95%); */
  /* background: linear-gradient(to bottom, hsl(254, 58%, 16%) 20%, hsl(209, 100%, 24%) 50%, hsl(209, 100%, 24%)); */
  background: linear-gradient(to bottom, hsl(254, 58%, 16%) 1%, hsl(209, 100%, 24%) 30%, hsl(209, 100%, 24%));
  color: var(--clr-gray-text);
  font-family: var(--ff-oswald);
  max-width: 1440px;
}

.section {
  padding: 0 12em;
}

h1, h2, h3 {
  font-family: var(--ff-akira);
}

.heading {
  font-size: var(--heading-fs);
  line-height: var(--heading-lh);
  color: var(--clr-gray-heading);
}

.subheading {
  font-size: var(--subheading-fs);
  color: var(--clr-dark-btn-text);
}

p {
  font-size: var(--body-fs-24px);
}

/* CSS Styles */

.home-page-title {
  color: var(--clr-gray-heading);
  font-size: var(--home-title-fs);
  line-height: var(--home-title-lh);
}

.solid-btn {
  background-color: var(--clr-orange-accent);
  color: var(--clr-dark-blue-bg);
  padding: 14.5px 32px;
  border: none;
  border-radius: 24px;
  font-size: var(--body-fs-18px);
  font-weight: var(--fw-medium);
}

.navbar {
  display: flex;
  gap: 2em;
  width: max-content;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  background-color: var(--clr-gray-text);
  color: var(--clr-dark-blue-navbar-text);
  font-size: var(--body-fs-20px);
  font-weight: var(--fw-medium);
  padding: .8em;
}

.navbar--img-cont {
  width: 6em;
  border: 8px solid var(--clr-light-blue-img-border);
  border-radius: 50%;
}

.home-about-section--img-cont {
  width: 60%;
  border: 8px solid var(--clr-light-blue-img-border);
  border-radius: 272.5px;
}

.home-about-section--img {
  border-radius: 272.5px;
}

.home-portfolio-card {
  background-color: var(--clr-gray-card-bg);
  border-radius: 24px;
  /* padding: 1.5em 3em 3em; */
}

.card-dot-01,
.card-dot-02,
.card-dot-03 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.card-dot-01 { background-color: var(--clr-gold-card); }
.card-dot-02 { background-color: var(--clr-blue-card); }
.card-dot-03 { background-color: var(--clr-orange-accent); }

.card-hr {
  border: none;
  height: 1px;
  background-color: black;
}

.home-portfolio-card--number {
  color: var(--clr-dark-blue-bg);
  font-size: var(--body-fs-48px);
  font-weight: var(--fw-bold);
}