@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@font-face {
  font-family: 'AkiraFont';
  src: url('/fonts/akira-expanded.otf') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS STYLES */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, hsl(225, 100%, 15%) 1%, hsl(209, 100%, 24%) 30%, hsl(209, 100%, 24%));
}

/* Active menu link styles */
.active-link { color: #FB8500; }
.active-link::before { content: "<"; }
.active-link::after { content: " />"; }

/* Menu link hover style */
.menu-link:hover { color: #FB8500;}

/* Active menu link style for the fixed desktop navbar*/
.active-link-desktop-fixed { color: #FB8500; }

/* Styles for Navbar Animation */

.navbar--img-container:hover .navbar--img-wrapper {
  transform: rotateY(180deg);
}

.navbar--img-wrapper {
  transform-style: preserve-3d;
}

.navbar--img-wrapper-front {
  backface-visibility: hidden;
}

.navbar--img-wrapper-back {
  transform: rotateY(180deg);
}

/* TAILWIND STYLES */

h1, h2, h3 {
  @apply font-akira font-bold;
}

.section-px {
  @apply px-[7.5rem] lg:px-[4rem] md:px-[1.25rem];
}